<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/create-post.css">
</head>
<body>
    <button class="goback"><a href="/"> < Go back</a></button>



<form action="/submit" method="POST">
    <h2>Create Post</h2>
    <h3>Title of the blog</h3>
    <input type="text" name="title" >
    <h3>Content</h3>
    <textarea name="content" id=""></textarea>
    <h3>Author's Name</h3>
    <input type="text" name="author_name" >
    <button type="submit">Submit</button>
</form>
</body>
</html>