<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/create-post.css">
    <title>Document</title>
</head>
<body>
   <form action="/edit/<%= blog.id %>" method="POST">
     <h3>Title of the blog</h3>
  <input name="title" value="<%= blog.title %>" />
  <h3>Content</h3>
  <textarea name="content"><%= blog.content %></textarea>
  <h3>Author's Name</h3>
  <input name="author_name" value="<%= blog.author %>" />

  <button type="submit">Update</button>
</form>
</body>
</html>

